@axe-devtools:registry=https://agora.dequecloud.com/artifactory/api/npm/devtools-npm/
//agora.dequecloud.com/artifactory/api/npm/devtools-npm/:_auth = bW9raHRhcmFrbGVAZ21haWwuY29tOkFLQ3BCc2VYR2ZzQk04eXhyWjNBNlcyVHlDcENrRk1IMTk5M3ZLdmJobkJYY3NMcDNDbVB6b3V1VkdRWXZyRGI2aXBKNmhXMUw=
//agora.dequecloud.com/artifactory/api/npm/devtools-npm/:email = mokhtarakle@gmail.com
//agora.dequecloud.com/artifactory/api/npm/devtools-npm/:always-auth = true